*{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

#wrapper_up{
    position: absolute;
    left: 17.5%;
    width: 65%;
    height: 8%;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#wrapper_down{
    position: absolute;
    top: 8.7%;
    left: 17.5%;
    width: 65%;
    height: 91.3%;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#rgbValue{
    display: none;
}

#color{
    position: inherit;
    left: 10%;
    top:25%;
    width: 10%;
    height: 50%;
}

#rgb{
    position: inherit;
    top:25%;
    left:30%;
    width: 10%;
    height: 50%;
    background-color: white;
}