*{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    font-family: 'Nunito', sans-serif;
}

#wrapper_up{
    position: absolute;
    left: 17.5%;
    width: 65%;
    height: 8%;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 18px;
}

#wrapper_down{
    position: absolute;
    top: 8.7%;
    left: 17.5%;
    width: 65%;
    height: 91.3%;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#rgbPicker{
    position: inherit;
    left:7.5%;
}

#rgbValue{
    display: none;
}

#logo{
    position: inherit;
    left: 2%;
    top:25%;
    width: 5%;
    height: 50%; 
}

#color{
    position: inherit;
    left: 9%;
    top:25%;
    width: 7.5%;
    height: 50%;
    border-radius: 6px;
}

#hex{
    position: inherit;
    top:25%;
    left:20%;
    width: 20%;
    height: 50%;
    background-color: white;
    padding: 8px 0;
}

#rgb{
    position: inherit;
    top:25%;
    left:33%;
    width: 20%;
    height: 50%;
    background-color: white;
    padding: 8px 0;
}

#hsl{
    position: inherit;
    top:25%;
    left:48%;
    width: 20%;
    height: 50%;
    background-color: white;
    padding: 8px 0;
}